fallback-grpc-addr: 127.0.0.1:3030
dial-grpc-timeout: 10

jaeger:
  url: "http://localhost:14268/api/traces"

order:
  service-name: "order"
  server-to-run: "http"
  http-addr: "127.0.0.1:8282"
  grpc-addr: "127.0.0.1:5002"

stock:
  service-name: "stock"
  server-to-run: "grpc"
  http-addr: "127.0.0.1:8283"
  grpc-addr: "127.0.0.1:5003"

payment:
  service-name: "payment"
  server-to-run: "http"
  http-addr: "127.0.0.1:8284"
  grpc-addr: "127.0.0.1:5004"

rabbitmq:
  user: "guest"
  password: "guest"
  host: "localhost"
  port: 5672

consul:
  addr: "localhost:8500"

stripe-key: "${STRIPE_KEY}"
endpoint-stripe-secret: "${ENDPOINT_STRIPE_SECRET}"